@model IndexModel

@{
    Challenge challenge = Model.Chall;
}

<div class="bg-lighter-gray">
    <div class="container py-5 px-4">
        <h1>About Us</h1>
        <hr />
        <p>
https://gramoly.org
        </p>
    </div>
</div>
