@model IndexModel

<div class="bg-light-gray">
<div class="container py-5">
<div class="row px-4">
<div class="offset-md-3 col-md-6">
<a class="btn btn-lg btn-outline btn-outline-dark rounded-button" href="https://gramoly.org/discord" target="_blank">Join our Discord server</a>
</div>
</div>
</div>
</div>
