<footer class="bg-darker-gray text-white p-2 d-flex align-items-center justify-content-around mt-auto">
    <div>
        <a href="https://twitter.com/GRAMOLY_ORG" class="me-2 text-white text-decoration-none" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://t.me/gramoly" class="me-2 text-white text-decoration-none" target="_blank">
            <i class="fab fa-telegram"></i>
        </a>
        <a href="https://gramoly.org/discord" class="me-2 text-white text-decoration-none" target="_blank">
            <i class="fab fa-discord"></i>
        </a>
    </div>
</footer>
